<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Blog Site</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<h1>Welcome to Our Blog Post Site!</h1>
			<h3>Check out our blogs!</h3>

			<h3>Blog Post Form</h3>
			<p>Thank you for your submission!</p>

			<h4>Blog Posts:</h4>
			<div class="row">
			    <div th:each="blog:${posts}">
			        <div class="col-md-6">
			            <div class="panel panel-default">
			                <div class="panel-heading">
			                    <p th:text="${blog.title}"/>
							</div>
						</div>
				    	<div class="panel-body">
							<p th:text="${blog.author}"/>
							<p th:text="${blog.blogEntry}" />
				    	</div>
				    	<div class="panel-footer">
							<!-- Link to Update -->
							<!-- Link to Show  -->
							<!-- Link to Destroy -->
			            </div>
			          </div>
				</div>
		    </div>
		    <a th:href="@{/blog_posts/new}">
		    	<button class= "btn btn-primary">Submit a New Blog Post</button>
		    </a>
		</div>
		<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
		<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>